@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');


.container-full {

  width: 100%;
  height: 100%;
  min-height: 100%;


}

#background {

    position: relative;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-20%);
    transform: translateX(-50%) translateY(-20%);
    background: url(../img/website header.jpg) no-repeat;
    background-size: cover;

}
.container h1 {
    color: white;
}
.container h1 span {
    color: black;
}




/*Video wall */
header {
  position: relative;

  height: 95vh;
  min-height: 45rem;
  width: 100%;
  overflow: hidden;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 2;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.0;
  z-index: 1;
}

@media (pointer: coarse) and (hover: none) {
  header {
    background:  "./img/website header.jpg" black no-repeat center center scroll;
  }
  header video {
    display: none;
  }
}

/* Hero Image
.hero-image {*/
    /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  /*  background-image: linear-gradient(rgba(0, 0, 0.7, 0.2), rgba(0, 1, 0, 0.3)), url("../img/team2.png");

    /* Set a specific height
    height: 90%;*/

    /* Position and center the image to scale nicely on all screens
    background-position:center
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-bottom: 20rem;
*/
/*
}
.hero-image h1{
  text-align: center;
  position: relative;

  top: 20rem;

  color: white;

}*/

.blinking-period {
  font-weight: inherit;
  font-size: inherit;
  color: #ffffff;
  -webkit-animation: 2s blink step-end infinite;
  -moz-animation: 2s blink step-end infinite;
  -ms-animation: 2s blink step-end infinite;
  -o-animation: 2s blink step-end infinite;
  animation: 2s blink step-end infinite;
}

@keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-moz-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-webkit-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-ms-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-o-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

.navbar{
  overflow: hidden;
  background-color: #333;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */

}
.nav-color{
  color: #556168;
}
.navbar-nav{
  letter-spacing: 3px;
  margin-left: 30px;
  margin-right: 30px;
}
.iconpadding{
  padding-top: 2em;



}

.titlepadding{
  padding-top: 4em;

  margin-top:5rem;

}

.lowerpadding{

  padding:4em;

}
.parpadding{
  margin-left:10em;
  margin-right: 10em;
  letter-spacing: 1px;

}
.sentencepadding{

  max-width: 700px;
}
.social a{
    padding: 1.5rem;
    font-size: 4.5em;
    width: 60px;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
}
.darkicon a{
    padding: 1.5rem;
    font-size: 2.5em;
    width: 60px;
    text-align: center;
    text-decoration: none;
    color: #717782;
}

.uppercase{
  text-transform: uppercase;

}
.wall{

  background-size: cover;
  background-color: #5BB88C;
  padding-top: 90px;
  padding-bottom:: 90px;
}
.white-text{
  color:#ffffff;
  letter-spacing: 3px;
}
.light-text{
  color: #8e8e8e;
}
.avatar {
    width: 30%;

    margin-top: 3rem;
    border-radius: 50%;

}

.navbar-brand img{
   width: auto;
   height: 140px;


}





/*---Media Queries --*/
@media (max-width: 992px) {

  }
@media (max-width: 768px) {
  .titlepadding{
    padding-top: 4em;
    padding: 0px;
    margin-top:10rem;

  }

}
@media (max-width: 576px) {
  .titlepadding{
    padding-top: 4em;
    padding: 0px;
    margin-top:10rem !important;

  }

}
head {
font-family:varela-round, sans-serif
text-align:center;

}


body {

  font-family:varela-round, sans-serif;
  color:#000000;
  }
body, html {
    height: 100%;

    margin: 0;

}
footer{

  font-family: 'Questrial', sans-serif;

}
p{
  font-family: 'Questrial', sans-serif;
}

/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
/*--- Fixed Background Image --*/
figure {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0!important;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

  .post-title {
    font-size: 1.1rem;
    color: #000;
    display: block;
    line-height: 1.5rem;
}
.white-container {
    background: #fff;
    padding: 13px;
}
/* parallax*/
#plx{
  background-image: url('../img/officeview_2x.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.white-title{
  padding-top: 100px;
  padding-bottom: 100px;
  color:#ffffff;
  letter-spacing: 3px;
}
.whtitle{
  padding-top: 100px;
  padding-bottom: 100px;
  letter-spacing: 3px;

}
.bluewall{
  background-size: cover;
  height: 10px;
  background-color: #5BB88C;

}

#bluewall{

  background-size: cover;
  height: 400px;
  background-color: #5BB88C;

}


/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}





/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/
